{% extends "public_template.html" %}

{% block title %}Image uploaded{% endblock %}

{% block head %}
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

{% endblock %}

{% block main %}
    <h1>Wait</h1>

    <script src="../static/js/three.js-master/build/three.js"></script>
    <script src="../static/js/three.js-master/examples/jsm/loaders/OBJLoader.js" type="module"></script>
    <script src="../static/js/three.js-master/examples/jsm/loaders/DDSLoader.js" type="module"></script>
    <script src="../static/js/three.js-master/examples/jsm/loaders/MTLLoader.js" type="module"></script>
    <script type="module" charset="utf-8">

    import {MTLLoader} from "../static/js/three.js-master/examples/jsm/loaders/MTLLoader";
    import {OBJLoader} from "../static/js/three.js-master/examples/jsm/loaders/OBJLoader";

    var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('my event', function (msg) {
            console.log(msg)
        });
        socket.emit('my event', {data: 'I\'m connected!'});

        {% if object_url %}
            let url = "http://" + document.domain + ':' + location.port + "/{{object_url}}";
            var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

            var renderer = new THREE.WebGLRenderer();
            renderer.setSize(window.innerWidth, window.innerHeight);
            document.body.appendChild(renderer.domElement);
            new MTLLoader(manager)
                .setPath(url)
                .load('texturedMesh.mtl', function (materials) {
                    materials.preload();
                    new OBJLoader(manager)
                        .setMaterials(materials)
                        .setPath(url)
                        .load('texturedMesh.obj', function (object) {
                            scene.add(object);
                        }, onProgress, onError);
                });
            //
        {% endif %}
    </script>
{% endblock %}